import "slick-carousel/slick/slick.css"; 
import "slick-carousel/slick/slick-theme.css";

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }