.category-container {
    padding: 20px;
    max-width: 600px;
    margin: 10rem auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .category-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .category-loading,
  .category-error {
    text-align: center;
    font-size: 18px;
    color: #ff4d4f;
  }
  
  .category-form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  
  .category-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .category-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #0056b3;

  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .category-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .category-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .modal-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .modal-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button.update {
    background-color: #4caf50;
    color: white;
  }
  
  .modal-button.delete {
    background-color: #f44336;
    color: white;
  }
  
  .modal-button.close {
    background-color: #9e9e9e;
    color: white;
  }
  
  .sort-button {
    float: right;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* font-size: 4px; */
    transition: background-color 0.3s ease;
  }
  
  .sort-button:hover {
    background-color: #4caf4fbe;
  }
  