/* General styles for the user list */
.user-list {
    padding: 20px;
    margin-top: 7rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .user-table thead th {
    background-color: #f6c55a; /* Light gray background */
    color: #333333; /* Dark text color */
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #dddddd;
  }

  
  .user-table th,
  .user-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .user-table th {
    background-color: #f4f4f4;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    font-size: 14px;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Modal styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: left;
  }
  
  .modal h2 {
    margin-bottom: 20px;
  }
  
  .modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .modal input,
  .modal select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .save-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .close-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  button:focus {
    outline: none;
  }
  

  /* lreofsfsf*/

  
  .sortable {
    cursor: pointer;
    position: relative;
  }
  .sortable:hover {
    color: #4caf50; /* Optional: change color on hover for better feedback */
  }
  
  .sortable:hover::after {
    content: "⇅";
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
